.faq-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.faq-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  border: 1px solid black;
  margin: 2px;
}
